* {
    box-sizing: border-box;
}
body{
    background-color:#0A192F;
}
h1{
    margin: 0;
}
p{
    font-size: 20px;
}

.small-letter{
    font-size:smaller;
}
.text-color-grey{
    color: #b6bdcf;
    font-family: "JMono";
    font-size: small;
    margin: 0;    
}
.text-color-grey-light{
    color: #ccd6f6;
    
}
.text-color-grey-dark{
    color: #8892b0;
    
}
.text-color-green{
    color: #60F5D2;
    margin-right: 5px; 
    font-family: "JMono";
    
}



.Menu {    
    display: flex;  
}
.links{
    
    width: 100%;
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3px;

}
a{
    color: #b6bdcf;
    text-decoration: none;

}

a:hover{
    color:#60F5D2;
    text-decoration: none;
}
.navlink{
    height: 100%;
    width: 10%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.resume-button{
    background-color: #0A192F;
    border: 2px solid #60F5D2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}
.resume-button:hover{
    transform: translateY(-5px);
    box-shadow: 5px 6px 0 0 #60F5D2; /* Increased shadow distance */

}
.logo{
    display: inline;
    margin: 10px;
    margin-left: 40px;
  
}
.social-media {
    grid-area: socials;
    padding: 10px;
    font-size: 18px;
    display: flex; 
    gap: 15px;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end; 
    height: 100%; /* Ensure it takes full height of grid area */
}

.social-media::after {
    content: '';
    display: block;
    width: 2px;
    height: 100px;
    margin: 0 auto;
    background-color: #b6bdcf;
}

.social-media a:hover {
    color: #60F5D2;
}
.social-media a {
    margin-bottom: 15px;
    display: block;
    color: #b6bdcf;
    transition: color 0.3s ease;
}

.email {
    bottom: 0;
    right: 40px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    grid-area: email;
   
  }
  .email::after {
    content: '';
    display: block;
    width: 2px;
    height: 100px;
    margin: 0 auto;
    background-color: #b6bdcf;
}
  
.email-text {
    letter-spacing: 0.3em;
    padding: 20px;
  }

.intro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    grid-area: intro;
    padding: 7px;
}

.first-page{
    display: grid;    
    grid-template-columns: 7% auto 7%; /* Middle column takes the remaining space */
    grid-template-areas: "socials intro email";
    height: 100vh;


}
.head-text{
    font-size:x-large;
    margin-bottom: 15px;
}


.header{
    padding: 10px;
    grid-area: header;
}
.info{
    padding: 10px;
    grid-area: info;
}
.detail-aboutme{
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    grid-area: details;
}
/*There is a need to use flex*/
.second-page{
    display: grid;
    grid-template-areas: "header header"
                         "info details";
    grid-template-columns: 20% auto;
    height: 100vh; 
    grid-template-rows: 10% auto ;
}
.Project{
    background-color: blue;
    padding: 10px;
    margin: 5px ;
}
.third-page{
    height: 100vh;

}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 10px;
    column-gap: 10px;
    

}
.fourth-page{
    height: 100vh;
}





/*
 Optimize here for the fonts and use the @import taking form Google Fonts
 and website compatability issues
*/
@font-face {
    font-family: "Lora" ;
    src: url("resources/fonts/Lora/Lora-VariableFont_wght.ttf") format(".ttf");
    font-weight: 300 700;/*Range*/
    font-stretch: 75% 125%;
    font-style: normal; /*Necessary for the webpage to know*/

}
@font-face {
    font-family: "Monstreal";
    src: url("resources/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-style: normal;
}
@font-face {
    font-family: "JMono";
    src: url("resources/fonts/mono/JetBrainsMono-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-stretch: 75%;
    font-style: normal;
}


@font-face {
    font-family: "Popping";
    src: url("resources/fonts/Poppins/Poppins-Light.ttf");
}
