* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
body{
    background-color:#0A192F;
}
h1{
    margin: 0;
}



p{
    font-size: 16px;
}
section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.small-letter{
    font-size:smaller;
}
.topic-height{
    display: flex;
    flex-direction: row;
    grid-area: top-header;
}
.topic-height::after {
    content: '';
    display: inline;
    width: 100vh;
    height: 1px;
    margin: 0 auto;
    background-color: #233554;
    margin-top: 25px;
    margin-left: 45px;
}

.topic-height-grey{
    font-size: x-large;
    font-family: "JMono";
    font-weight: 600;
    color: #b6bdcf;  
    
}
.topic-height-green{
    font-size:medium;
    font-family: "JMono";
    font-weight: 600;
    color: #60F5D2;
}
.text-color-grey{
    color: #b6bdcf;
    font-family: "JMono";
    font-size: small;
    margin: 0;    
}
.text-color-grey-light{
    color: #ccd6f6;
    
}
.text-color-grey-dark{
    color: #8892b0;
    
}
.text-color-green{
    color: #60F5D2;
    margin-right: 5px; 
    font-family: "JMono";

    
}

#navbar{
    top: 0;
    position: fixed;
    display: flex; 
    width: 100%;
    transition: top 0.4s;
}


.links{
    
    width: 100%;
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3px;

}
a{
    color: #b6bdcf;
    text-decoration: none;

}

a:hover{
    color:#60F5D2;
    text-decoration: none;
}
.navlink{
    height: 100%;
    width: 10%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.resume-button{
    background-color: #0A192F;
    border: 2px solid #60F5D2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}
.resume-button:hover{
    transform: translateY(-5px);
   
    box-shadow: 5px 6px 0 0 #60F5D2;
     /* Increased shadow distance */
}
.logo{
    display: inline;
    margin: 10px;
    margin-left: 40px;
  
}
.social-media {
    position: fixed;
    grid-area: socials;
    padding: 10px;
    font-size: 20px;
    display: flex; 
    gap: 15px;
    margin-left: 50px;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end; 
    height: 100%; /* Ensure it takes full height of grid area */
    transition: transform 0.7s ease;
}

.social-media::after {
    content: '';
    display: block;
    width: 2px;
    height: 100px;
    margin: 0 auto;
    background-color: #b6bdcf;

}

.social-media a:hover {
    color: #60F5D2;
    transform: translateY(-5px);
    transition: transform 0.4s ease;
}
.social-media a {
    margin-bottom: 15px;
    display: block;
    color: #b6bdcf;
    transition: color 0.3s ease;
}

.email {
    position: fixed;
    bottom: 0;
    right: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    grid-area: email;
   
  }
  .email:hover{
    color: #60F5D2;
    transform: translateY(-5px);
    transition: transform 0.4s ease;
  }
  .email::after {
    content: '';
    display: block;
    width: 2px;
    height: 100px;
    margin: 0 auto;
    background-color: #b6bdcf;
}
  
.email-text {
    letter-spacing: 0.3em;
    padding: 15px;
  }

.intro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    grid-area: intro;
    padding: 7px;
}

.first-page{
    display: grid;    
    grid-template-columns: 7% auto 7%; /* Middle column takes the remaining space */
    grid-template-areas: "socials intro email";
    height: 100vh;
}

/*The second page*/
.head-text{
    font-size:x-large;
    margin-bottom: 15px;
   
}
.fa-play{
    color: #60F5D2 ;
    padding: 5px;
    margin-left: 5px;
}
.language-list{
    list-style-type: none;
    column-count: 3; 
    column-gap: 20px;
}

.persona-pic img {
    width: 100%;
    height: auto;
    display: block;
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); 
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); 
}
.persona-pic{
    grid-area: pic;
    height: 50%;
    position: relative;
    height: 400px;
    width: 400px;

}

.about-text{
    background-color:#0A192F;
    grid-area: text;
    margin-right: 20px;
    padding: 0px;
}
img{
   
    border-radius: 30px;
    background-color:#0A192F;
    margin-top: 5px;
}


.about{
    display: grid;
    width: 85%;
    height: 100vh;
    grid-template-areas: 
    "top-header top-header"
    "pic text";
    grid-template-columns: 42% 58%;
    

}


/*There is a need to use flex*/
.second-page{
    display: flex;
    align-items: center;
    justify-content: center;  
    
}

.tab{
    width: 100%;
    height: 40px;
    background-color: #0A192F;
    margin: 0;
    border: 0;
    border-left: 2px solid #233554;
    text-align: left;
    padding-left: 20px;
    white-space: nowrap;   
    cursor: pointer;

}
.tab:hover{
    background-color: #425576;
    color:#60F5D2;
    border-left: 2px solid #233554;
}

.tab.active {
    color:#60F5D2;
    background-color: #425576;
    border-left: 2px solid #60F5D2;
}
.slide{
    grid-area: slide;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.content{
    display: inline;
    margin-top: 50px;
    height: 400px;
    grid-area: content;
    margin-left: 20px;

}
.third-page{
    display: grid;
    grid-template-areas: "top";
    grid-template-areas: 
    "top-header top-header"
    "slide content";
    grid-template-columns: 20% 80%;
    width: 70%;
    
    
}
.Project{
    background-color: blue;
    padding: 10px;
    margin: 5px ;
}
.fourth-page{
    height: 100vh;

}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 10px;
    column-gap: 10px;
    

}
.fifth-page{
    height: 100vh;
}





/*
 Optimize here for the fonts and use the @import taking form Google Fonts
 and website compatability issues
*/
@font-face {
    font-family: "Lora" ;
    src: url("resources/fonts/Lora/Lora-VariableFont_wght.ttf") format(".ttf");
    font-weight: 300 700;/*Range*/
    font-stretch: 75% 125%;
    font-style: normal; /*Necessary for the webpage to know*/

}
@font-face {
    font-family: "Monstreal";
    src: url("resources/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-style: normal;
}
@font-face {
    font-family: "JMono";
    src: url("resources/fonts/mono/JetBrainsMono-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-stretch: 75%;
    font-style: normal;
}


@font-face {
    font-family: "Popping";
    src: url("resources/fonts/Poppins/Poppins-Light.ttf");
}
